#header{
  text-align:right;
}
#content{
  display:flex;
  flex-direction: column;
  text-align:center;
  .boxes{background-color:#eeeeee} 
}
#footer{
  text-align:center;
  color:grey;
  background-color: #eeeeee;
  padding:10px;

}


